@import "../../../../variables";

.post, .period {
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

@media all and (max-width: $mq-tablet) {
  .container {
    margin-top: 20px;
  }

  .post, .period {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}
