@import "../../../../variables";

.container {
  padding: 40px 10px 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font: 600 28px 'Signika', sans-serif;
  color: #475F66;
  margin-bottom: 10px;
}

.subTitle {
  color: #8A9699;
  font: italic 500 20px 'Cormorant Garamond', sans-serif;
  text-align: center;
  margin-bottom: 30px;
  width: 320px;
}

.bottomTitle {
  color: #475F66;
  font: italic 500 24px 'Cormorant Garamond', sans-serif;
  margin-top: 30px;
}

.topFansListContainer {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.spinnerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: $mq-tablet) {
  .container {
    padding: 40px 10px;
  }
  .subTitle {
    text-align: center;
  }
}
