
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 1rem;
}

.userName {
  font: 18px 'Yantramanav', sans-serif;
  color: #D0D5D6;
}

.usernameWrapper {
  display: flex;
  align-items: center;
}

.starImage {
  position: relative;
  top: 2px;
  width: 20px !important;
  height: 18px !important;
  flex: 0 0 auto;
  margin-left: auto;
  margin-right: 5px;
}

.pointsWrapper {
  display: inline;
  color: #8A9699;
  margin-left: 30px;
}