
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.4rem;
}

.closeButton {
  background: #00C1F3 !important;
  color: #fff !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1) !important;
  transition: transform .2s !important;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1) !important;
  }
}

.imageTitle {
  padding: 1rem;
  border: 4px solid #fff;
  border-radius: 50%;
  display: inline-block;

  & > svg {
    width: 4rem !important;
    height: 4rem !important;
    color: #fff !important;
  }
}

.topWrapper {
  padding: 2rem 10rem;
  text-align: center;
  background: #00C1F3;
}

.warningIcon {
  width: 16px;
  height: 16px;
}

.title {
  font: 600 25px 'Signika', sans-serif;
  color: #475F66;
  text-align: center;
  padding: 1rem;
}

.description {
  font: 18px 'Yantramanav', sans-serif;
  color: grey;
  text-align: center;
  margin-bottom: 20px;
  max-width: 400px;

  & > p {
    font-size: 16px;
    margin: 0;
    color: #F44336;
    font-weight: bold;
  }
}

.errorStack {
  white-space: pre-wrap;
  overflow-x: hidden;
  max-width: 425px;
}

