.button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 10px;
  display: inline-block;
}

.default {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
  font: 600 20px/36px 'Yantramanav', sans-serif;
  background-color: #fff;
  color: #475F66;
  transition: all .2s ease-in;

  &:hover { background-color: #ebebeb }
}

.button.default[disabled] {
  pointer-events: none;
  color: #D0D5D6;
}