
.searchBar {
  position: relative;

  & > input {
    background: #fff;
    border: none;
    padding: 0 2rem;
    width: 100%;
    font-size: 14px;
    color: #D0D5D6;
    text-align: center;
  }
}

.icon {
  width: 16px !important;
  height: 16px !important;
  color: #8A9699 !important;
}

.searchIcon {
  position: absolute;
  top: 7px;
  left: 82px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  & > svg,
  & > img {
    @extend .icon;
  }
}

.searchIcon.active { transform: translateX(-73px) }

.closeIcon {
  position: absolute;
  display: none;
  top: 7px;
  right: 8px;

  & > svg {
    @extend .icon;
  }
}

.closeIcon.active { display: inline }
