.container {
  background-color: #eeeeee;
  min-height: 100%;
  padding: 20px;
  width: 100%;
}

.paper {
  overflow: hidden;
  position: relative;
}

.buttonContainer {
  text-align: center;
  margin: 20px 0;
}