
.mainContent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  line-height: 25px;
  ul {
    list-style: circle;
  }
}

.title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
}

.subtitle {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}