
.form { margin-bottom: 1rem }

.field {
  & > label { color: #475F66 }
  & > div > input { color: #8A9699 !important }
}

.receiveEmailsCheckboxContainer {
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  margin: 0 !important;

  & > span {
    color: #475F66 !important;
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
    font-size: 1rem;
  }
}
