@import "../../variables";

.textField {
  & > label {
    color: #D0D5D6;
    font-weight: bold;
    font-family: "Yantramanav", sans-serif;
  }

  & > p {
    color: #8A9699;
    font-family: Yantramanav, sans-serif;
  }

  & > div {
    color: #D0D5D6 !important;
    &:before { border-bottom: 1px solid #D0D5D6 !important }
  }

  @media all and (min-width: $mq-tablet) {
    & > label { color: #68696a !important }
    & > div { color: #68696a !important }
  }
}
