@import "../../../../variables";

.container {
  padding: 30px 80px;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 14px 2px rgba(0,0,0,0.02);
  font: 18px/28px 'Yantramanav', sans-serif;
  text-align: center;
  position: relative;
}

.artistName {
  font-weight: bold;
}

.subscribe {
  color: #FF7F00;
  font-weight: bold;
  cursor: pointer;
}

.lockImg {
  position: absolute;
  left: 30px;
  width: 23px;
  height: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media all and (max-width: $mq-tablet) {
  .container {
    padding: 30px 70px;
  }

  .lockImg {
    left: 20px;
  }
}
