@import "../../../../../index";

.commentTextArea {
  resize: none;
  display: block;
  padding: 12px 120px 10px 15px;
  height: 45px;
  width: 95%;
  border-radius: 10px;
  margin: 20px auto 0;
  border: 1px solid rgba(0, 0, 0, .08);
  transition: all .3s;

  &:focus {
    border: 1px solid #ffd901;
  }
}