@import "../../../../variables";

.info {
  font-size: 14px;
  left: 10px;
  position: relative;
  font-style: italic;
  bottom: 1px;
  opacity: 0.5;
}

.terms {
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
  color: #D0D5D6;
  margin: 0;
}

.form > label {
  margin: .5rem -15px;

  &:last-of-type { margin-bottom: 2rem }

  & > span {
    font-size: 12px;
    color: #8A9699;
    font-family: "Yantramanav", sans-serif;
    padding-left: 1rem;
    text-align: left;
  }
}

.checkbox { color: #8A9699 !important }

.warningText {
  color: #FF9800;
  margin: 10px;
  padding-right: 2rem;
  position: relative;
  max-width: 600px;
}

@media all and (min-width: $mq-tablet) {
  .terms { color: #494949}
}
