@import "../../../../variables";

.forgetPasswordLink {
  text-decoration: underline;
  cursor: pointer;
  color: #00c1f3;
  font-weight: bold;
  font-family: Yantramanav, sans-serif;
}

.forgetPasswordLinkContainer {
  margin: 0;
  text-align: left;
}

.signUpLink {
  text-decoration: underline;
  cursor: pointer;
  color: #00c1f3;
}

.signUpLinkContainer {
  font-family: Yantramanav, sans-serif;
  margin-top: 15px;
  font-weight: bold;
}

.caption {
  font-family: 'Signika', sans-serif;
  font-size: 23px;
  color: #fff;
  font-weight: bold;
}

.button {
   border: none;
   width: 100%;
   font-weight: bold;
   color: #fff;
  cursor: pointer;
 }

.submitButton {
  @extend .button;
  border-radius: 10px;
  background: #00BFF1;
  padding: 14px 0;

  &[disabled] {
    box-shadow: none;
    background-color: #888;
    pointer-events: none;
  }

  &:hover { background: #00a3d3 }
}

.cancelButton {
  @extend .button;
  background: transparent;
  padding: 1rem;
  color: #D0D5D6;
}

.modalFooter {
  padding: 2rem 0;
  color: #fff;
}

.modal {
  background: url("../../../../assets/images/modal_bg.jpg") 23% 86%;

  & > div:nth-child(2) {
    background: transparent !important;
    padding: 0 40px !important;
    height: auto !important;
    box-shadow: none;
    position: static;
    max-width: 400px;

    @media all and (min-width: $mq-tablet) {
      & { background: rgba(255, 255, 255, 0.96) !important }
    }
  }
}

@media all and (min-width: $mq-tablet) {
  .caption { color: #494949 }
  .cancelButton { color: #4e5253 }
  .signUpLinkContainer {
    color: #999898;
    margin: 0;
  }

  .modal {
    background-size: cover;
    background-position: 40% 85% !important;
  }
}
