@import "../../../../variables";

.caption {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.02);

  & > h3 {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    padding: 8px;
  }

  img:first-of-type {
    width: 16px
  }
  img:last-of-type {
    width: 27px;
    margin-left: 1rem;
  }
}

.schedule {
  & > h3 {
    margin-bottom: 0
  }
  & > p {
    color: #8A9699;
    font-style: italic;
    font-size: 15px;
    margin-top: 8px;
  }
}

@media all and (max-width: $mq-laptop) {
  .scheduleList {
    display: none!important;
  }
}
