.container {
  background-color: #eeeeee;
  min-height: 100%;
  padding: 20px;
  width: 100%;
}

.formContainer {
  padding: 20px;
  max-width: 300px;
  margin: auto;
}

.tableContainer {
  margin-top: 20px;
}
