
.commentFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentFormTextarea {
  resize: none;
  display: block;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .08);
  padding: 12px 15px 10px;
  height: 45px;
  width: 95%;
  margin: 20px auto 0;
}

.submitButton {
  padding: 7px 37px;
  cursor: pointer;
  font: 600 16px 'Yantramanav', sans-serif;
  color: #002630;
  border-radius: 25px;
  background-color: #FFD901;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.04);
  border: none;
  transition: all .3s;
  margin: 1rem 10px 0 0;

  &:hover { opacity: .8 }
}
