.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  background: #00BFF1;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  font: 600 20px/36px 'Signika', sans-serif;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;

  &:hover { background: #0b8eb0 }
}
