
.headerCell {
  height: 50px;
  position: relative !important;
  font-weight: bold !important;

  & > svg {
    margin-left: 6px;
    position: absolute;
    top: 14px;
  }
}

.transactionContainer {
  text-align: center;
  max-width: 800px;
  margin: 3rem auto 0;
}

.transactionInnerContainer {
  padding: 1rem !important;
}

.totalCount > td { font-weight: bold !important; }