@import "../../../../variables";

.container {
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.mainSection {
  padding: 40px 20px 20px;
  background-color: white;
  flex: 1;
}

.infoSection {
  padding: 30px 20px 20px 20px;
  height: 224px;
  background: linear-gradient(315deg, rgba(0, 193, 243, 0.52) 0%, rgba(0, 193, 243, 0.5) 33.92%, rgba(9, 177, 219, 0.46) 100%);
  border-radius: 6px 6px;
}

.infoHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.avatar {
  flex: 0 0 auto;
  border-radius: 50%;
  width: 93px;
  height: 93px;
  border: 3px solid white;
}

.name {
  margin-top: 5px;
  color: white;
  font: 600 28px 'Signika', sans-serif;
}

.pointTag {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.13);

  width: 70px;
  margin: 5px auto;
  color: #E8C500;
  font-family: Yantramanav;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0);
}

.pointsContainer {
  font: italic 500 22px 'Cormorant Garamond';
  color: white;
}

.description {
  margin-top: 18px;
  color: #8A9699;
  font: 16px 'Yantramanav';
}

.buttonsContainer {
  margin-top: auto;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: white;
}

.wishlistContainer {
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipContainer {
  padding: 20px;
}

.divider {
  align-self: stretch;
  width: 1px;
  background: rgba(0, 0, 0, 0.08);
  flex: 0 0 auto;
}

.wishlistButton {
  cursor: pointer;
  height: 40px;
  width: 110px;
  border-radius: 25px;
  background-color: #00C1F3;
  color: #FFFFFF;
  font-family: Yantramanav;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:hover {
    opacity: 0.85;
  }
}

.progressBar {
  height: 14px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 7px;
  background-color: #FFFFFF;
  position: relative;
}

.innerBar {
  border-radius: 8px;
  background-color: #E8C500;
  height: 14px;
  position: relative;
  bottom: 1px;
  right: 1px;
}

.levelShield {
  position: absolute;
  bottom: -7px;
  right: 19px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressShieldIcon {
  width: 60px;
  height: 50px;
  position: absolute;
  right: -28px;
  bottom: -13px;
  z-index: 1;
}

.progressLevelNumber {
  z-index: 10;
  right: -9px;
  position: relative;
  bottom: 5px;
  color: #FFFFFF;
  font-family: Yantramanav;
  font-size: 21px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 28px;
  text-align: center;
  text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
}

.progressStar {
  border-radius: 50%;
  width: 29px;
  height: 29px;
  border: 1px solid #F7D200;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  left: -8px;
  top: -9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressStarIcon {
  width: 15px;
}

.ratingIcon {
  width: 15px;
  position: relative;
  right: 4px;
  top: 1px;
}

@media all and (max-width: $mq-desktop) {
  .container {
    width: 314px;
    flex: 0 0 auto;
  }
}

@media (max-width: $mq-laptop) {
  .container {
    width: auto;
    flex: 1;
    &:before {
      display: none;
    }
  }
  .mainSection {
    flex: 1;
  }
  .wishlistContainer {
    padding: 10px;
  }
}
