@import "../../../../variables";

.footer {
  margin-top: auto;
  position: relative;
  padding: 40px 10px;
  box-shadow: 0 0 7px -3px #636363;
  z-index: 10;
  &:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:before {
    background: url(../../../../assets/images/footer-bg.jpg) no-repeat;
    filter: blur(1px);
    background-size: 100%;
    background-position: center;
  }
  &:after {
    //background: rgba(20, 20, 20, 0.70);
  }
}

.innerContainer {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 0 25px;
}

.firstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogo {
  width: 200px;
  top: 15px;
}

.footerNav {
  padding: 0;
  margin: 0;
  display: flex;
}

.footerNav li > a {
  color: #D0D5D6;
  font-family: Yantramanav;
  font-size: 16px;
  line-height: 21px;
  transition: all .3s;

  &:hover { text-decoration: underline }
}

.footerNav li {
  margin-left: 30px;
  margin-bottom: 0;
}

.footerNav li:first-child { margin-left: 0 }

.info {
  max-width: 590px;
  margin: 40px auto 0 auto;
  color: #8A9699;
  font: 600 12px/21px 'Yantramanav', sans-serif;
  text-align: center;
}

@media all and (max-width: $mq-laptop) {
  .firstLine {
    flex-direction: column;
    align-items: center;
  }
  .footerLogo {
    margin-bottom: 20px;
  }
}


@media all and (max-width: $mq-tablet) {
  .container {
    width: 100%;
  }

  .footerFlexWrapper {
    flex-direction: column;
  }

  .footerNav {
    margin-top: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerNav li {
    margin-left: 0;
    margin-bottom: 7px;
  }
}
