@import "../../../../variables";


.header {
  height: 70px;
  position: relative;
  z-index: 10;
  &.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.backgroundContainer {
  background-image: url(../../../../assets/images/bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(4px);
}

.backdropContainer {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.headerInner {
  max-width: 1160px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
}

.note {
  color: #8A9699;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  text-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.11);
}

.noteLink {
  color: #f8fafa;
  font-family: Yantramanav;
  font-size: 16px;
  line-height: 21px;
  margin-left: 30px;
}

.signOut {
  cursor: pointer;
  margin-left: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 225px;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowImage {
  width: 16px;
  height: 16px;
}

.rightBlock {
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media (max-width: $mq-tablet) {
  .header {
    height: 48px;
  }

  .logo {
    width: 152px;
    position: relative;
    left: 10px;
  }
}
