.avatar {
  margin-right: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex: 0 0 auto;
}

.menuProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuTitle {
  color: #fff;
  font: 600 16px 'Yantramanav', sans-serif;
}

.arrowImg {
  transition: all .2s ease-out !important;
  color: #fff;
  margin-left: 10px;
}

.arrowImgActive {
  transform: rotate(180deg) !important;
}

.menuItem {
  border-left: 5px solid transparent !important;

  &:not(:last-of-type) { border-bottom: 1px solid rgba(204, 204, 204, 0.47) }

  &:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.48);
    box-shadow: inset 4px 4px 6px rgba(0, 0, 0, .04);
    border-left: 5px solid #00bff1 !important;
  }

  & > a {
    color: #494949;
    font: 400 18px 'Yantramanav', sans-serif
  }
}

[data-placement] {
  z-index: 999 !important;
  top: 15px !important;
}
