.container {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.notificationButton {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificationIcon {
  width: 16px;
  height: 16px;
}

.newNotificationIndicator {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFAA01;
  top: 2px;
  right: 3px;
}

.menuButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuIcon {
  width: 16px;
  height: 16px;
}
