@import "../../../../variables";

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipTextField {
  width: 85px !important;
  height: 31px;
  border-radius: 3px;
  border-top-right-radius: 0;
  border: 1px solid #00c1f3 !important;
  border-bottom-right-radius: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.tipButton {
  height: 31px !important;
  width: 51px !important;
  border-radius: 4px;
  border: none;
  background-color: #00C1F3;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.addon {
  margin-right: 1px !important;
  margin-left: 10px;
  position: relative;
  bottom: 2px;
  color: #000 !important;
}

@media all and (max-width: $mq-desktop) {
  .tipTextField {
    width: 65px !important;
  }
}

@media (max-width: $mq-laptop) {
  .tipContainer {
    padding: 10px;
  }
}
