@import "../../../../variables";

.container {
  width: 100%;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 14px 2px rgba(0,0,0,0.02);
  overflow: hidden;

  &:hover .switchNotification {
    opacity: 1;
    pointer-events: auto;
  }
}

.switchNotification {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}

.subscribeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 100px;
  background: url('../../../../assets/images/blurred-image.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}

.lockImage {
  height: 40px;
  width: 30px;
  margin-bottom: 18px;
}

.onlyForSubscribers {
  color: #fff;
  font: 600 20px 'Yantramanav', sans-serif;
  margin: 20px 0;
  letter-spacing: 1px;
  padding: 0 10px;
  text-align: center;
}

.subscribeButton {
  padding: 11px 41px;
  background: transparent;
  color: #fff;
  font: 600 16px 'Yantramanav', sans-serif;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .3s;

  &:hover {
    transform: translateY(5px);
  }
}

.showCommentsLink {
  padding: 16px 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  color: #475F66;
  margin-bottom: 16px;
  transition: background .2s;
  font: bold 16px 'Yantramanav', sans-serif;

  &:hover { background: rgba(0, 0, 0, 0.08) }
}

.commentsContainer {
  border-radius: 10px;
  padding-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
}

.addCommentButtonContainer { padding: 16px 20px 0 }

.addCommentButtonContainerBorder { border-top: 1px solid rgba(0, 0, 0, .08) }

.addCommentButton {
  display: flex;
  align-items: center;
  font: 600 16px 'Yantramanav', sans-serif;
  border: none;
  background: transparent;
  color: #475F66;
  cursor: pointer;

  &:before {
    content: url("../../../../assets/images/plus.png");
    padding-right: 1rem;
  }
}

.blockLikesCounter svg:hover path {
  fill: #ff1228;
}

.actions {
  height: 28px;	width: 700px;
}

.subscribeLink {
  display: flex;
  margin-top: 25px;
  color: #475F66;
  font-family: Yantramanav;
  font-size: 16px;
  line-height: 21px;

  span {
    font-weight: bold;
    color: #FF7F00;
    cursor: pointer;
  }
}

.userSubscribeAvatar {
  flex: 0 0 auto;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.subscribeText {
  margin-left: 15px;
}
.subscribeBlock {
  align-self: center;
}

.subscribeComment {
  font-size: 16px;
  font-family: Yantramanav;
  padding: 10px 35px;
  color:#475F66;
  span {
    font-weight: bold;
    cursor: pointer;
  }
}

@media all and (max-width: $mq-tablet) {
  .container { border-radius: 0 }

  .switchNotification { opacity: 1 }

  .subscribeContainer { padding: 45px 0 103px }
}
