@import "../../../../variables";

.infoContainer {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 30px 30px 30px;
  position: relative;
}

.avatarContainer {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #FFFFFF;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.avatar {
  width: 100%;
  height: auto;
}

.name {
  color: #475F66;
  font: bold 28px/40px 'Signika', sans-serif;
}

.biography {
  color: #8A9699;
  font: 16px/20px 'Yantramanav', sans-serif;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font: 600 20px/36px 'Signika', sans-serif;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in;
}

.wishlistButton {
  @extend .button;
  background: #00bff1;
  color: #fff;

  &:hover { background-color: #00acdc
  }
}

.subscribeButton {
  @extend .button;
  background-color: #FFD901;
  color: rgba(0,0,0,0.7);

  &:hover { background-color: #ecc701 }
}

.subscribedText {
  margin-top: 20px;
  color: #8A9699;
  font: italic 20px "Cormorant Garamond", serif;
}

.giftIcon {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  position: relative;
  top: -1px;
}

@media all and (max-width: $mq-tablet) {
  .infoContainer {
    padding: 50px 20px 30px 20px;
  }

  .avatarContainer {
    width: 107px;
    height: 107px;
    position: absolute;
    top: -68px;
  }

  .avatar {
    width: 100%;
    height: auto;
    top: -68px;
  }
}

.icon {
  height: 14px !important;
  width: 15px !important;
  margin-right: 6px;
  vertical-align: middle;
  color: #8a9699 !important;
}

.countersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterItem:not(:last-child) { margin-right: 1rem }

.likesCounter,
.viewsCounter,
.postsCounter {
  height: 28px;
  width: 16px;
  color: #8A9699;
  font-family: Yantramanav;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
}

.socialLinks {
  margin-top: 20px;

  & > a {
    width: 34px;
    height: 34px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    transition: all .3s;
  }

  a:hover { box-shadow: 3px 6px 12px rgba(0, 0, 0, .08) }

  a:not(:last-of-type) {
    margin-right: 36px;
  }
  img {
    width: 34px;
  }
}
