@import "../../../../variables";

.form {
  position: relative;
  height: 45px;
}

.subscribeButton {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 2.5%;
  padding: 7px 37px;
  cursor: pointer;
  font: 600 16px 'Yantramanav', sans-serif;
  color: #002630;
  height: 100%;
  border-radius: 25px 10px 10px 25px;
  background-color: #FFD901;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.04);
  border: none;
  transition: all .3s;

  &:hover { background: #efcd09 }
}

.subButton {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.formGroup {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}
