@import "../../../../variables";

.container {
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 6px;
  box-shadow: 0 10px 14px 2px rgba(0,0,0,0.02);
  position: relative;
  overflow: hidden;
}

.header {
  background-color: #FFFFFF;
  padding: 30px 70px;
  position: relative;
  text-align: center;
  color: #475F66;
  font: 18px/28px 'Yantramanav', sans-serif;
  cursor: pointer;
}

.lockImg {
  position: absolute;
  height: 30px;
  width: 22.9px;
  left: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.arrowImg {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(180deg);
}

.container.collapsed .arrowImg {
  transform: rotate(0deg);
}

.post {
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.unlockButtonContainer {
  padding: 10px;
  text-align: center;
  background: url(../../../../assets/images/bg.jpg) center center/cover no-repeat;
}

.unlockButton {
  border-radius: 20px;
  background-color: #FFD901;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.04);
  border: none;
  color: rgba(0,0,0,0.7);
  font: bold 16px/21px 'Yantramanav', sans-serif;
  padding: 10px 20px;
  cursor: pointer;
}

@media all and (max-width: $mq-tablet) {
  .post {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}
