.container {
  background-color: #eeeeee;
  min-height: 100%;
  padding: 20px;
  width: 100%;
}

.paper {
  position: relative;
}

.spinnerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}