@import "../../variables";

.closeButton {
  position: absolute !important;
  top: 0;
  right: 0;
  color: #fff !important;
}

@media all and (min-width: $mq-tablet) {
  .closeButton { display: none !important; }
}
