@import "../../variables";

.mediaContainer {
  width: 100%;
  position: relative;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.videoWrapper {
  width: 100%;
  overflow: hidden;
}

.innerVideoContainer {
  position: relative;
  cursor: pointer;
  line-height: 0;
  & > video { width: 100% }
}

.activeVideoTitle {
  opacity: 0;
  pointer-events: none;
}

.postTitle {
  color: #F7F9FA;
  position: absolute;
  bottom: 15px;
  left: 37px;
  font: 600 24px 'Yantramanav', sans-serif;
}

.postVideoTitle {
  bottom: 32px;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  text-align: center;
  background: rgba(0,0,0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  transition: all 130ms ease-in;
  &:first-letter { text-transform: uppercase }
}

@media all and (max-width: $mq-tablet) {
  .mediaContainer {
    padding-bottom: 0;
  }

  .video {
    position: static;
    min-height: 200px;
  }

  .postTitle { font-size: 1.8rem }
}
