@import "../../../../variables";

.signInLinkContainer {
  font-family: Yantramanav, sans-serif;
  margin-top: 10px;
  font-weight: bold;
}

.confirmationContainer > div:nth-child(2) {
    display: flex !important;
    justify-content: center !important;
}

.confirmationTitle h2 {
  margin-top: 0;
  color: #fff;
}

.caption {
  font-family: 'Signika', sans-serif;
  font-size: 23px;
  color: #fff;
  font-weight: bold;
}

.count { color: #ffd901 }

.modal {
  background: url("../../../../assets/images/modal_bg.jpg") 65% 81%;
}

.modal > div:nth-child(2) {
  background: transparent !important;
  padding: 0 40px !important;
  box-shadow: none;
  max-width: 400px;
  overflow: initial;
  position: static;
}
.button {
  border: none;
  width: 100%;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.submitButton {
  @extend .button;
  border-radius: 10px;
  background: #00BFF1;
  padding: 14px 0;

  &[disabled] {
    box-shadow: none;
    background-color: #888;
    pointer-events: none;
  }

  &:hover { background: #00a3d3 }
}

.modalFooter { padding-bottom: 60px }

.cancelButton {
  @extend .button;
  background: transparent;
  padding: 1rem;
  color: #D0D5D6;
}

.signInLink {
  text-decoration: underline;
  cursor: pointer;
  color: #00c1f3;
}

@media all and (min-width: $mq-tablet) {
  .caption { color: #494949 }
  .cancelButton { color: #4e5253 }
  .signInLinkContainer {
    color: #999898;
    margin: 0;
  }

  .modal {
    background-size: cover;
    background-position: 10% 70% !important;
  }

  .modal > div:nth-child(2) {
    overflow: auto;
    background: rgba(255, 255, 255, 0.96) !important;
    margin: 3rem;
    height: auto;
  }
}
