.container {
  background-color: #eeeeee;
  min-height: 100%;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.paperContainer {
  padding: 3rem;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.title {
  padding: 15px 0;
  color: #475F66;
  font-family: Signika;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  text-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.switchContainer {
  position: absolute;
  top: 0;
  right: 0;

  & > span {
    padding: 15px 0;
    color: #475F66;
    font-family: Signika;
    text-align: center;
    font-weight: bold;
  }
}