.form {
  padding: 4rem;
  max-width: 900px;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 1px 1px 4px #f1f1f1;
}

.radioGroup {
  flex-direction: row !important;
}

.formEditor {
  height: 150px;
  padding: 0 1rem;

}
.error {
  color: #f44336;
  font-size: 0.75em;
}