
.statsContainer {
  height: 100%;
  max-width: 800px;
  margin: 2rem auto 0;
}

.title {
  color: #475F66;
  font-family: Signika;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  text-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.picker {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 99;
}

.dateRange {
  border: 2px solid #e2e6eb;
  margin-bottom: 10px;
}

.forecastCheckbox {
  display: inline-flex;
}

.forecastTableTitle {
  font: 36px Signika, 'sans-serif';
  margin-top: 50px;
}