@import "../../../../variables";

.container {
  background-color: #F7F9FA;
  min-height: 100%;
}

.cover {
  width: 100%;
  height: 330px;
}

.profile {
  width: 100%;
  max-width: 1240px;
  margin: auto;
  padding: 40px;
  display: flex;
  align-items: flex-start;
}

.postsContainer {
  flex: 1;
  position: relative;
}

.showMoreButtonContainer {
  text-align: center;
  margin-top: 40px;
}

.showMoreButton {
  padding: 7px 37px;
  cursor: pointer;
  font: 600 16px 'Yantramanav', sans-serif;
  color: #002630;
  border-radius: 25px;
  background-color: #FFD901;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.04);
  border: none;
  transition: all .3s;

  &:hover {
    opacity: .8;
    transform: translateY(-5px);
  }
}

.aside {
  width: 360px;
  margin-right: 40px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
}

.infoContainer, .tipJarContainer, .authorPostsFilterContainer, .scheduleContainer {
  margin-bottom: 20px;
}

.infoContainer {
  order: 1
}

.tipJarContainer {
  order: 2
}

.authorPostsFilterContainer {
  order: 3;
}

.scheduleContainer {
  order: 4;
}

.postsBlockerMessage {
  margin-bottom: 40px;
}

.notFound {
  min-height: calc(100vh - 186px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #646464;
}

.postsSpinnerContainer { padding: 30px }

.subscribeContainer {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
  order: 1;
  text-align: center;
  padding: 20px 20px 12px;
  margin-bottom: 20px;

  & > p { margin: 0 }
}

.subscribedText {
  color: #475F66;
  font: 600 18px 'Yantramanav', san-serif;
  margin-bottom: 7px !important;

  &:after {
    content: url("../../../../assets/images/checked_icon.svg");
    display: inline-block;
    width: 12px;
    height: 12px;
  }
}

.startAt {
  color: #8A9699;
  font-size: 1rem;
}

@media all and (max-width: $mq-tablet) {
  .cover {
    height: 200px;
  }

  .profile {
    padding: 0;
  }

  .aside {
    margin-top: -20px;
    width: 100%;
    padding: 0 16px;
  }

  .showMoreButtonContainer {
    margin: 20px;
  }
}


@media all and (max-width: $mq-laptop) {
  .profile {
    flex-direction: column;
    align-items: stretch;
  }

  .aside {
    width: 100%;
  }

  .infoContainer, .subscribeContainer, .tipJarContainer, .authorPostsFilterContainer, .scheduleContainer {
    margin-bottom: 8px;
  }

  .authorPostsFilterContainer {
    order: 4;
  }

  .scheduleContainer {
    order: 3;
  }
}
