.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab {
  flex: 1;
  color: #00C1F3;
  font: 600 16px 'Yantramanav', sans-serif;
  background: #fff;
  border-radius: 10px;
  padding: 15px 0;
  text-align: center;
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  transition: all .3s;
  margin: 0 2px;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.tab.active {
  padding: 11px 0;
  color: #000;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #fff transparent;
  }
}

.tab.noValue {
  &:after {
    display: none;
  }
}
