.container {
  background: rgba(0,38,48,.95)!important;
  width: 310px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 48px 0;
}

.crossIcon {
  width: 16px;
  height: 16px;
}

.sidebarIcon {
  color: #475f66;
  width: 19px !important;
  height: 20px !important;
}

.closeButton {
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  height: 1px;
  width: 100%;
  background: #475F66;
}

.section {
  padding: 20px;
}

.userBlockDivider {
  margin-top: 22px;
  margin-bottom: 18px;
}

.profileIcon {
  width: 16px;
  height: 16px;
}

.notificationIcon {
  width: 16px;
  height: 16px;
}

.logoutIcon {
  width: 16px;
  height: 16px;
}

.notificationsList {
  border: 1px solid #475F66;
  border-radius: 10px;
  padding: 16px;
  max-height: 270px;
  overflow: auto;
  margin: 6px 0;
}

.notificationItem {
  margin-bottom: 18px;
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #475F66;
  }
  &:last-of-type {
    margin-bottom: 0;
    &:after {
      display: none;
    }
  }
}

.bottomDivider {
  margin-bottom: 14px;
}

.socials {
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.socialLink {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snapchatIcon {
  width: 16px;
  height: 16px;
}

.instagramIcon {
  width: 16px;
  height: 16px;
}

.twitterIcon {
  width: 19px;
  height: 16px;
}

.tumblrIcon {
  width: 9px;
  height: 16px;
}

.usernameWrapper {
  display: flex;
  align-items: center;
}

.pointsWrapper {
  display: inline;
  color: #8A9699;
}

.starImage {
  position: relative;
  top: 2px;
  width: 20px;
  height: 18px;
  flex: 0 0 auto;
  margin-left: auto;
  margin-right: 5px;
}

.searchBarSection { padding: 0 20px 20px }

.searchBar > input {
  background: #475F66;
  border-radius: 10px;
  height: 31px;
}

.clearButton {
  background: #475F66;
  border: none;
  color: #D0D5D6;
  padding: 8px 22px;
  font-size: 14px;
  font-family: Yantramanav, sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
}
