.fansContainer {
  height: 100%;
  margin: 2rem;
  min-width: 1100px;
}

.title {
  color: #475F66;
  font-family: Signika, sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  text-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.picker {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 99;
}

.dateRange {
  border: 2px solid #e2e6eb;
  margin-bottom: 10px;
}

.dateInfo {
  font-size: 12px;
  color: #313131;
}
