
.mainContent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  line-height: 25px;
  ul {
    list-style: circle;
  }
}