.scheduleDaysList {
  position: relative;
  padding-top: 7rem;
  margin: 0;
  align-self: stretch;

  & > li {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -24px;

    &:first-child {
      margin-top: 0
    }
    &:last-child {
      margin-bottom: 0
    }
  }
}

// override style above
.scheduleDaysList .step .scheduleDayContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.step.stepActive .scheduleDescription {
  position: relative;
  width: calc(100% - 48px);
  margin-top: -20px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Yantramanav', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .04);
  text-align: left;
  & > p {
    margin: 0
  }
}


.step.stepActive ~ .stepActive {
  margin: 2rem 0;
}

.step.stepActive .arrowLeft {
  width: 0;
  top: 26px;
  position: absolute;
  left: -9px;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ffffff;
}


.line {
  width: 1px;
  height: 100%;
  background: #FFD901;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 17px;
}

.step {
  display: flex;
  position: relative;
  min-height: 1em;
  color: gray;

  &:first-child .circle {
    margin-top: 40px;
  }
}

.step + .step {
  margin-top: -12px;
}

.step > div:first-child {
  display: inline-block;
  position: static;
}

.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}

.step.stepActive .circle {
  background-color: #FFD901;
  color: #002630;
  border: none;
  z-index: 99;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .10);
}

.disabled:first-of-type {
  margin-top: -100px !important;
}

.circle {
  background: #fff;
  border: 1px solid #D0D5D6;
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: #D0D5D6;
  line-height: 34px;
  font-size: 12px;
  text-align: center;
  z-index: 99;
}
