.container {
  background-color: #eeeeee;
  min-height: 100%;
  width: 100%;
  padding: 20px 0;
}

.authorDetailsContainer {
  padding: 20px;
  position: relative;
  margin-top: 20px;
}

.title {
  padding: 15px 0;
  color: #475F66;
  font-family: Signika;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  text-shadow: 0 4px 6px 0 rgba(0,0,0,0.05);
}

.submitButton {
  background: #00BFF1;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);

  &:hover { background: #0b8eb0 }
}
