@import "../../../../variables";

.container {
  width: 560px;
  height: 256px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  background-color: white;
  position: relative;
  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: -121px;
    bottom: 0;
    margin: auto;
    width: 121px;
    height: 3px;
    background: #FFD901;
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: -121px;
    bottom: 0;
    margin: auto;
    width: 121px;
    height: 3px;
    background: #FFD901;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  border-radius: 6px;
  overflow: hidden;
}

.calendarContainer {
  background-color: #00C1F3;
  width: 220px;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.calendar {
  width: 107px;
  height: 120px;
  margin: auto;
  position: relative;
  background: url('../../../../assets/images/calendar.png') no-repeat center/cover;
  display: flex;
}

.refreshImg {
  position: absolute;
  bottom: -35px;
  right: -35px;
}

.catImg {
  position: absolute;
  left: 9px;
  bottom: 6px;
}

.daysNumber {
  font: 800 57px 'Open Sans', sans-serif;
  color: #00C1F3;
  margin: 43px auto 0 auto;
}

.subscriptionContainer {
  padding: 30px 30px;
}

.subscribeButton {
  height: 50px;
  width: 150px;
  border-radius: 25px;
  background-color: #FFD901;
  font-family: Yantramanav;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}

.title {
  color: #475F66;
  font: 600 28px/32px Signika;
  text-align: center;
}

.titleTemp {
  color: #475F66;
  font: 600 15px/32px Signika;
  text-align: center;
}

.description {
  text-align: center;
  color: #8A9699;
  font: italic 500 20px/24px "Cormorant Garamond";
  margin-top: 10px;
  margin-bottom: 20px;
}

.subscriptionsLink, .profileLink {
  color: #8A9699;
  font: 500 17px/24px Cormorant Garamond;
  text-decoration: underline;

}

.profileLink {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

@media all and (max-width: $mq-desktop) {
  .container {
    &:before {
      left: -64px;
      width: 64px;
    }

    &:after {
      right: -63px;
      width: 63px;
    }
  }
}

@media all and (max-width: $mq-laptop){
  .container {
    width: 100%;
    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }
}

@media all and (max-width: $mq-tablet) {
  .container {
    height: auto;
  }
  .content {
    flex-direction: column;
  }
  .calendarContainer {
    width: auto;
    padding: 30px 0;
  }
  .subscriptionContainer {
    display: flex;
    flex-direction: column;
  }
  .subscribeButton {
    align-self: center;
  }
  .subscriptionsLink {
    align-self: center;
  }
  .profileLink {
    align-self: center;
    margin: 15px 0 0 0;
  }
}
