.backdrop {
  background: rgba(50,81,89,0.8)!important;
}

.paper {
  padding: 20px;
  border-radius: 10px!important;
  max-width: 400px!important;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: -10px;
  right: -10px;
}

.closeImage {
  width: 16px;
  height: 16px;
}

.giftImage {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.title {
  font: 600 20px 'Signika', sans-serif;
  color: #475F66;
  margin-bottom: 20px;
  text-align: center;
}

.description {
  font: 16px 'Yantramanav', sans-serif;
  color: grey;
  text-align: center;
  margin-bottom: 20px;
}

.link {
  flex: 0 0 auto;
  background: #00C1F3;
  border-radius: 20px;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  font: 16px 'Yantramanav', sans-serif;
  color: #fff;
}

.arrowImage {
  margin-left: 10px;
  transform: rotate(180deg);
  width: 13px;
  height: 13px;
}
