.date {
  color: #8A9699;
  font: 12px 'Yantramanav', sans-serif;
  margin-bottom: 8px;
}

.title {
  color: #D0D5D6;
  font: 600 16px 'Yantramanav', sans-serif;
}

.message {
  color: #D0D5D6;
  font: 14px 'Yantramanav', sans-serif;
  margin-bottom: 18px;
  a {
    color: #D0D5D6;
    text-decoration: underline;
  }
}

.newNotificationIcon {
  font-size: 10px;
  background: #ffd901;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 19px;
  color: #242C2E;
  padding: 3px;
  border-radius: 3px;
}