@import "../../../../variables";

.congratulationTitle > h2 { color: #fff }
.congratulationText {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.button {
  border: none;
  width: 100%;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.resetButton {
  @extend .button;
  border-radius: 10px;
  background: #00BFF1;
  padding: 14px 0;
  cursor: pointer;

  &[disabled] {
    box-shadow: none;
    background-color: #888;
    pointer-events: none;
  }

  &:hover { background: #00a3d3 }
}

.cancelButton {
  @extend .button;
  background: transparent;
  padding: 1rem;
  color: #D0D5D6
}

.caption > h2 {
  font-family: 'Signika', sans-serif;
  font-size: 23px;
  color: #fff;
  font-weight: bold;
}

.content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.modal {
  background: url("../../../../assets/images/modal_bg.jpg") 23% 86%;

  & > div:nth-child(2) {
    background: transparent;
    padding: 0 40px;
    height: auto;
    text-align: center;
    box-shadow: none;
    position: static;
    max-width: 400px;

    @media all and (min-width: $mq-tablet) {
      & {
        background: rgba(255, 255, 255, 0.96) !important;
        padding: 3rem;
      }
    }
  }
}
@media all and (min-width: $mq-tablet) {
  .caption > h2 { color: #494949 }
  .cancelButton {
    color: #4e5253;
    margin-bottom: 1rem;
  }

  .congratulationText,
  .congratulationTitle > h2 { color: #4e5253;}

  .modal {
    background-size: cover;
    background-position: 0 0 !important;
  }
}
