.membersContainer {
  text-align: center;
  margin: 3rem auto 0;
  & > div > div { padding: 1rem!important }
}

.tableHead {
  background: rgba(204, 204, 204, 0.42) !important;
}

.tableHeadCell {
  color: rgba(0, 0, 0, 0.79) !important;
  font-weight: bold !important;
}