
.container {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tipJarHeader {
  background-image: linear-gradient(90deg, rgba(0, 193, 243, 0.6), rgba(0, 193, 243, 0.6));
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;

  & > img:first-child {
    margin-right: -10px;
    z-index: 3;
  }

  & > img:nth-child(2) {
    margin-right: -10px;
    z-index: 2;
  }
}

.avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 4px solid white;
}

.content {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.tipJarCaption {
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../../../../assets/images/Star.svg") no-repeat;
  }


}
.tipJarText {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 15px 28px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.02);
  margin-bottom: 10px;

  & > h3 {
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  & > p {
    color: #8a9699;
    font-size: 1rem;
    margin: 0;
    line-height: 24px;
  }
}

.tipJarImageContainer {
  max-width: 100%;
  max-height: 300px;
  overflow: hidden;

  & > img {
    max-width: 100%;
    max-height: 300px;
  }
}

.donation {
  padding: 20px;
}

.counter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.styleGoalText {
  font-size: 12px;
  color: rgba(138, 150, 153, 1);
  font-weight: 100;
}

.count {
  color: rgba(71, 95, 102, 1);
  font-weight: bold;
  font-size: 18px;

  & > span { @extend .styleGoalText}
}

.goal {
  color: rgba(240, 180, 0, 1);
  font-weight: bold;
  font-size: 18px;

  & > span { @extend .styleGoalText}
}

.bgShareIcon {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.bakersCount {
  &:before {
    @extend .bgShareIcon;
    background: url("../../../../assets/images/User.svg") no-repeat;
  }
}

.date {
  &:before {
    @extend .bgShareIcon;
    background: url("../../../../assets/images/Time.svg") no-repeat;
  }
}

.donationDescription {
  color: rgba(138, 150, 153, 1);
  font-size: 14px;
  text-align: left;
  margin-bottom: 1rem;

  & > span { margin-right: 1rem }
}

.progress {
  height: 14px;
  position: relative;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.08);
  overflow: hidden;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  margin-bottom: 1rem;

  & > span {
    display: block;
    height: 100%;
    border-radius: 25px;
    background-color: #00C1F3;
    position: relative;
    overflow: hidden;
    transition: all .3s;
  }
}

.isReached > span { background-color: #FFBF00 }

.progressContainer {
  position: relative;
  &:after {
    position: absolute;
    right: -4px;
    top: -8px;
    z-index: 99;
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../../../../assets/images/Star_Stripe.svg") no-repeat;
  }
}

.tipContainer {
  & > div { width: auto !important }
  & > button { width: 100px !important }
}
