$switch-width:          60px;
$switch-height:         34px;
$switch-inner-border:   4px;
$switch-rounded:        true;
$switch-bg-color:       #00C1F3;

.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;

  input {
    position: absolute;
    width: 0;
    height: 0;
    left: -9999px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &::before {
      position: absolute;
      padding: 5px;
      box-sizing: border-box;
      content: url("../../assets/images/email_grey.svg");
      height: calc( #{$switch-height} - (#{$switch-inner-border} * 2));
      width: calc( #{$switch-height} - (#{$switch-inner-border} * 2));
      left: $switch-inner-border;
      top: $switch-inner-border;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    @if $switch-rounded {
      border-radius: $switch-height;

      &::before {
        border-radius: 50%;
      }
    }
  }
}

input[type=checkbox]:checked + .slider {
  background-color: $switch-bg-color;

  &::before {
    content: url("../../assets/images/email_blue.svg");
    -webkit-transform: translateX( calc( #{$switch-width} - #{$switch-height}  ) );
    -ms-transform: translateX( calc( #{$switch-width} - #{$switch-height} ) );
    transform: translateX( calc( #{$switch-width} - #{$switch-height} ) );
  }
}

.switchIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  opacity: 1;
  cursor: pointer;
  transition: all .3s;
}
