html {
  * {
    box-sizing: border-box;
  }

  *:focus {
    outline: none;
  }
}

html, body, #root {
  height: 100%;
}

a {
  text-decoration: none;
}

// remove autofill styles in chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

::-webkit-input-placeholder {
  color: #d0d5d6;
}
::-moz-placeholder {
  color: #d0d5d6;
}
:-ms-input-placeholder {
  color: #d0d5d6;
}
:-moz-placeholder {
  color: #d0d5d6;
}