.notificationBox {
  position: absolute;
  top: 68px;
  right: 105px;
  max-width: 400px;
  min-width: 250px;
  border-radius: 7px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.notificationList {
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;

  & > li {
    padding: 18px 28px;
    color: #00BFF1;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    position: relative;

    &:last-child { border-bottom: none }

    & > h4 {
      color: #475F66;
      font-size: 16px;
      font-weight: bold;
      margin: 8px 0;
    }

    & > p {
      margin: 0;
      color: #475F66;
      font-size: 14px;
      font-weight: 100;
      white-space: pre-line;
    }
  }
}

.newNotificationIcon {
  background: #ffd901;
  position: absolute;
  top: 15px;
  right: 19px;
  color: #242C2E;
  padding: 3px;
  border-radius: 3px;
}

.arrowUp {
  position: absolute;
  width: 0;
  height: 0;
  top: -16px;
  right: 16px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 17px solid #FFF;
  z-index: 99;
}

.arrowUpBorder {
  position: absolute;
  width: 0;
  height: 0;
  top: -16px;
  right: 16px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ebebeb;
}

.emptyNotification {
  padding: 20px;
  width: 300px;
  text-align: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  margin: 1rem 0;

  & > p {
    color: #D0D5D6;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
}

.isFetching {
  height: 94px;
  width: 300px;

  & > .arrowUp { border-bottom-color: rgb(204, 204, 204) }
}
