@import "../../variables";

.userAvatar {
  visibility: hidden;
  flex: 0 0 auto;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.userName {
  color: #475F66;
  font-family: Yantramanav, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin: 0;
}

.definitelySharingT {
  padding-right: 2.2rem;
  color: #475F66;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  font-family: Yantramanav, sans-serif;
  max-width: 530px;
}

.comment {
  display: flex;
  padding: 5px 20px;
  margin-top: 10px;
  position: relative;

  &.replyComment {  padding: 0 20px 5px 70px }
}

.textComment { margin-left: 15px }

.hour {
  width: 39px;
  color: #8A9699;
  font-family: Yantramanav, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-right: 10px;
}

.replyLikes {
  color: #8A9699;
  font-family: Yantramanav, sans-serif;
  font-size: 14px;
  margin-right: 10px;
  line-height: 18px;
}

.topFansUserNameBefore {
  display: inline-block;
  position: relative;
  width: 23px;
  height: 23px;
  top: 6px;
  left: -3px;
}

.weekly {
  &:before {
    @extend .topFansUserNameBefore;
    content: url("../../assets/images/Weekly_TF_Badge.svg")
  }
}

.monthly {
  &:before {
    @extend .topFansUserNameBefore;
    content: url("../../assets/images/TF_Monthly_Badge.svg")
  }
}

.all_time {
  &:before {
    @extend .topFansUserNameBefore;
    content: url("../../assets/images/All_Time_TF_Badge.svg")
  }
}

.pointsCount {
  background: #D0D5D6;
  color: #fff;
  padding-right: 4px;
  border-radius: 8px 0 8px 8px;
  font-size: 12px;
  margin-left: 6px;

  &:before {
    content: url("../../assets/images/point_star.svg");
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
    padding-right: 6px;
    border-radius: 50%;
  }
}

@media all and (max-width: $mq-tablet) {
  .replyComment { padding-left: 35px !important; }
  .definitelySharingT {
    padding-right: 2.2rem;
    line-height: 19px;
  }
}
