@import "../../variables";


.authorAvatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 12px;
}

.authorName {
  color: #475F66;
  font: 600 20px 'Yantramanav', sans-serif;
  margin-right: 12px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  margin-bottom: 10px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authorContainer {
  display: flex;
  align-items: center;
}

.postTitle {
  color: #002630;
  font: 600 24px 'Yantramanav', sans-serif;
  margin-bottom: 15px;
}

.tipButton {
  border: 0;
  background: #00BFF1;
  padding: 8px 38px;
  border-radius: 17px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: all .3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .06);

  &:hover {
    background: #00a1cb;
  }
}

.tipInputContainer {
  flex: 0;
}

@media all and (max-width: $mq-tablet) {

  .authorAvatar {
    width: 34px;
    height: 34px;
  }

  .postTitle { font-size: 18px }

  .authorName { font-size: 17px }
}