@import "../../../../variables";

.container {
  display: flex;
  align-items: flex-start;
}

.title {
  color: #8A9699;
  font-family: Yantramanav;
  font-size: 17px;
  min-width: 125px;
}

.fieldContainer {
  flex: 1;
}

@media all and (max-width: $mq-tablet) {
  .container {
    flex-direction: column;
  }
  .fieldContainer {
    width: 100%;
  }
}
