
.cropEditorContainer {
  max-width: 600px;
  transition: all .2s;

  &:hover { background-color: #e7e7e7 }
  & > div { width: auto !important; }
}

.cropEditorContainer.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cropperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.rounded > div > div > span:first-of-type {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid #3f8edd;
  z-index: 999;
  pointer-events: none;
  border-radius: 50%;
  content: '';
  top: 0;
  left: 0;
}