@import "../../../../variables";

.container > div:last-of-type {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px !important;
}

.innerBox {
  overflow-y: auto;
  padding: 0 30px 18px;
  text-align: center;

  & > h3 {
    padding: 0;
    margin-top: 30px;
  }
}

.cancelButton {
  color: #D0D5D6;
  font-weight: bold;
}

.formHeader {
  text-align: center;
  padding-top: 40px;

  & > img { width: 35px }
  & > h3 {
    font-size: 24px;
    padding: 0;
    margin: 12px 1rem 6px;
  }
}

.dialogAction { flex-direction: column }

.submitButton {
  width: 100%;
  color: #fff;
  background: #00BFF1;
  font-weight: bold;
  font-family: 'Yantramanav', sans-serif;
  padding: 15px;
  border-radius: 25px;
  transition: all .3s;
  margin-bottom: 8px !important;
  max-width: 250px;
  text-transform: capitalize;

  &:hover {
    background: #00a6d6;
  }

  &[disabled] {
    background: #F7F9FA;
    color: #8A9699;
    cursor: inherit;
  }
}

.subscriptionError {
  font-family: 'Roboto', sans-serif;
  color: #f44336;
  margin-top: 15px;
}

.couponInput {
  margin-top: 20px!important;
}

.policyText {
  color: #475F66;
  font: italic 400 15px 'Cormorant Garamond', sans-serif;
}

.closeIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #D0D5D6 !important;
  width: 29px !important;
  height: 29px !important;
  cursor: pointer;
}

.notActiveAction { justify-content: center !important }

.notActiveContainer > div:last-of-type { height: auto }

@media all and (max-width: $mq-mobile) {
  .innerBox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
  }
}
