.authorBlock {
  margin-top: 8px;
  background: #fff;
  border-radius: 10px;
  padding: 50px 20px 40px 20px;
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.02);
  display: flex;
  max-height: 250px;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: all .3s;
}

.authorBlock.active { max-height: 100vh }

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.biography {
  margin-top: 15px;
  text-align: center;
  color: gray;
  font: 16px 'Yantramanav', sans-serif;
  overflow: hidden;
}

.wishlistLink {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  right: 20px;
  background: #00C1F3;
  border-radius: 20px;
  color: #fff;
  font: 16px 'Yantramanav', sans-serif;
  padding: 5px 12px;
}

.giftImage {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.arrowsImage {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform .2s;
}

.arrowsImage.active { transform: rotate(180deg) }
