@import "../../../../variables";

.firstSection {
  padding: 110px 25px 105px;
  background: url(../../../../assets/images/bg.jpg) center center/cover fixed no-repeat;
  position: relative;
}

.container {
  background: #F7F9FA;
  overflow-x: hidden;
}

.contentWrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.welcomeMessage {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
}

.profileLinkBoxContent { position: relative }

.profileLinkBoxBackground {
  background: url(../../../../assets/images/bg.jpg) center center/cover fixed no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  border-radius: 10px;
}

.profileLinkBoxBackdrop {
  background: rgba(0,0,0,0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.profileCaption {
  margin: 20px 25px;
  color: #FFFFFF;
  font-family: Signika, sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  text-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.subTitle {
  color: #D0D5D6;
  margin-bottom: 20px;
  font-family: "Cormorant Garamond";
  font-size: 26px;
  font-style: italic;
  font-weight: 500;
  line-height: 31px;
  text-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.descr {
  font-family: Yantramanav;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 28px;
  text-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

.lifetimeSubscriptionButton {
  margin-top: 20px !important;
}

.tipBox {
  margin-top: 20px;
}

.payBlocks {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.box {
  padding: 40px;
  background-color: white;
  //height: 256px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:not(:last-of-type) {
    margin-right: 40px;
  }
}

.boxTitle {
  color: #475F66;
  font-family: Signika;
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

.boxInfo {
  color: #8A9699;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.boxButton {
  height: 50px;
  width: 150px;
  border-radius: 25px;
  background-color: #FFD901;
  font-family: Yantramanav;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}

.boxButtonSecondary {
  cursor: pointer;
  height: 40px;
  width: 110px;
  border-radius: 25px;
  background-color: #00C1F3;
  color: #FFFFFF;
  font-family: Yantramanav;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:hover {
    opacity: 0.85;
  }
}

.verticalBlocks {
  flex: 1;
  .box {
    height: 118px;
    padding: 20px;
    justify-content: space-between;

    &:first-of-type {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .MuiInput-root-5 {
      height: 40px !important;
    }
  }
  .boxTitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}

.tipSection {
  margin-top: 40px;
}

.profileBtn {
  font: 600 16px 'Yantramanav';
  position: relative;
  background: #FFD901;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
  padding: 13px 36px;
  border-radius: 25px;
  cursor: pointer;
  transition: .3s;

  &:hover { opacity: .8 }

  &:before,
  &:after {
    content: "";
    display: inline-block;
    background: #FFD901;
    height: 1px;
    width: 20px;
    position: absolute;
    right: 160px;
    top: 24px;
    pointer-events: none;
    opacity: 0.5;
  }

  &:after {
    left: 160px;
  }
}

.profileLinkBox {
  max-width: 530px;
  margin: auto;
  position: relative;
  padding: 20px 25px;
}

@media all and (min-width: $mq-tablet){
  .welcomeMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profileLinkBox {
    margin: 0 20px;
  }

  .firstSection {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

}

@media (max-width: $mq-tablet) {

  .firstSection {
    padding-top: 90px;
    padding-bottom: 2rem;
  }

  .note {
    display: none;
  }

  .profileCaption {
    margin-top: 0;
    font-size: 30px;
    margin-left: 10px;
    line-height: 42px;
    margin-bottom: 5px;
  }

  .subTitle {
    margin-left: 10px;
    font-style: italic;
    line-height: 23px;
    font-size: 19px;
    margin-bottom: 8px;
  }

  .descr {
    font-size: 16px;
    line-height: 22px;
    margin-left: 10px;
  }

  .payBlocks {
    display: block;
    margin-top: 40px;
  }

  .box {
    margin-left: 10px;
    margin-right: 10px !important;
    margin-bottom: 20px;
  }

  .profileLinkBox {
    margin-top: 100px;
    padding-bottom: 2rem;
  }

}

@media all and (max-width: $mq-laptop) {
  .payBlocks {
    padding: 0 10px;
    margin-top: 0;
  }
}

@media all and (max-width: $mq-tablet) {
 .innerContainer {
   display: flex;
   flex-direction: column-reverse;
 }

  .payBlocks {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .socialLinksBox { margin-bottom: 0 }

  .welcomeContainer {
    margin-top: 9rem;
    padding: 0 25px;
  }

  .profileCaption {
    font-size: 36px;
    margin-bottom: 5px;
  }

  .subTitle {
    margin-bottom: 20px;
    padding: 0 32px;
  }

  .profileLinkBox {
    margin-top: 10px;
    margin-bottom: 52px;
    padding: 20px 0 25px;
  }
}

@media all and (max-width: $mq-mobile) {
  .firstSection { padding: 80px 10px 2rem }
}
