.requestPaymentContainer {
  display: none;
  //display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.choosePaymentVariantLabel {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}

.requestPaymentButton {
  max-width: 320px;
  width: 100%;
}