@import "../../variables";

.image {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  display: inherit;
}

.figure { margin: 0 }

.imageContainer {
  width: 100%;
  position: relative;
}

@media all and (max-width: $mq-tablet) {

  .image {
    position: static;
    min-height: 200px;
  }
}
