@import "../../../../variables";

$max-width-container: 700px;

.container {
  background-color: #eeeeee;
  min-height: 100%;
  width: 100%;
}

.cover {
  width: 100%;
  height: 300px;
}

.user {
  justify-content: flex-start;
  margin-bottom: 40px;

  & > div {
    & > img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    & > div {
      color: #475F66;
      font-weight: bold;
    }
  }
}

.submitButton {
  background: #00BFF1;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);

  &:hover { background: #0b8eb0 }
}

.receiveUpdateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > p {
    margin: 0;
    color: #475F66;
    font: 600 16px 'Yantramanav', sans-serif;
  }
}

.paper {
  position: relative;
  padding: 50px;
  border-radius: 10px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .04) !important;

  & > h3 {
    text-align: center;
    font-size: 24px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
}

.paperContent { text-align: center }

.firstSection {
  max-width: $max-width-container;
  margin: -8rem auto 3rem;

  & > h3 {
    margin: 10px;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
  }
}

.section {
  max-width: $max-width-container;
  margin: 0 auto 3rem;
}

h3 {
  padding: 15px 20px 0;
  color: #475F66;
  font-family: Signika;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  text-shadow: 0 4px 6px 0 rgba(0,0,0,0.05);
}

.accountWrapper { padding: 0 }

ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #475F66;
    font-family: Signika;
  }
}
.label {
  color: #8A9699;
  font-family: Yantramanav;
  font-size: 17px;
  min-width: 125px;
  display: inline-block;
}


.input {
  color: #8A9699 !important;
  width: 100%;
  max-width: 400px;
  font: 500 18px 'Yantramanav' !important;

  &:before { border-bottom: 1px solid #8A9699 }
}

.emailLink {
  padding: 0 20px 20px;
  font-family: Yantramanav, sans-serif;
  color: #00caff;
  text-align: center;
  font-size: 19px;
  cursor: pointer;
}

@media all and(max-width: $mq-tablet) {
  .section { margin: 0 1rem 20px }
  .firstSection { margin: -6rem 1rem 20px }
  .paper { padding: 30px }
  .cover { height: 165px }
}
