@import "../../variables";

.content {
  padding: 0 20px 30px;
}

.postDate {
  color: #8A9699;
  font: 600 14px 'Yantramanav', sans-serif;
}

.postBody {
  color: #8A9699;
  margin-top: 5px;
  margin-bottom: 20px;
  font: 16px/20px 'Yantramanav', sans-serif;
}

.blockLikesCounter {
  margin-right: 15px;
}

.like {
  height: 14px;
  width: 15px;
  cursor: pointer;
  vertical-align: middle;
}

.view {
  height: 19px;
  width: 19px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.postStats {
  display: flex;
  margin-top: 5px;
}

.counterLikes {
  height: 28px;
  width: 16px;
  color: #8A9699;
  font-family: Yantramanav, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  padding-left: 7px;
}

.likesActive path { fill: #ff1228 }

@media all and (max-width: $mq-tablet) {
  .container { border-radius: 0 }

  .content {
    padding: 0 20px 0 20px;
  }

  .switchNotification { opacity: 1 }

  .subscribeContainer {
    padding: 22px 0 75px;
  }
}