.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.menuLeftContent {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 20px;
  font: 16px 'Yantramanav', sans-serif;
  color: #D0D5D6;
}
