.container {
  background-color: #F7F9FA;
  min-height: 100%;
}

.header {
  height: 200px;
  width: 100%;
  position: relative;
  &:before {
    content: '';
    width: 1px;
    height: 100%;
    background: #FFD901;
    position: absolute;
    left: 33px;
    top: 48px;
    z-index: 1;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.headerContent {
  position: relative;
  display: flex;
  padding: 79px 40px 0 64px;
  flex-direction: column;
  align-items: flex-start;
}

.titleContainer {
  display: flex;
  align-items: center;
  font: 600 24px/40px 'Signika', sans-serif;
  color: #FFFFFF;
  letter-spacing: 0.6px;
}

.calendarImage {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.description {
  font: italic 600 20px/24px 'Cormorant Garamond', sans-serif;
  color: #FFFFFF;
  text-align: left;
}

.scheduleListContainer {
  padding: 0 16px 16px 16px;
  margin-top: -38px;
  position: relative;
  &:before {
    content: '';
    width: 1px;
    height: 50px;
    background: #FFD901;
    position: absolute;
    left: 33px;
    bottom: 0;
    z-index: 0;
  }
}


