.container {
  background-color: #eeeeee;
  min-height: 100%;
  width: 100%;
  padding: 20px 0;
}

.title {
  padding: 15px 0;
  color: #475F66;
  font-family: Signika;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  text-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}