@import "../../../../variables";

.likes {
  height: 14px;
  width: 15px;
  background: url("../../../../assets/images/like-outline.svg") no-repeat;
  color: #8A9699;
  font-family: Yantramanav;
  font-size: 14px;
  line-height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.likesActive,
.likes:hover {
  background: url("../../../../assets/images/like.svg");
}

.likesBox {
  display: flex;
  position: absolute;
  right: 20px;
  top: 30px;
}

.counterLikes {
  color: #8A9699;
  font-family: Yantramanav;
  font-size: 14px;
  font-weight: bold;
}

.hour {
  height: 18px;
  width: 39px;
  color: #8A9699;
  font-family: Yantramanav, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-right: 10px;
}

.comment {
  display: flex;
  padding: 5px 20px;
  margin-top: 10px;
  position: relative;

  &.replyComment {  padding: 0 20px 5px 70px }
}

.reply {
  color: #8A9699;
  font-family: Yantramanav;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover { text-decoration: underline }
}

.removedComment {
  & > p {
    font-size: 14px;
    color: #beb8b8;
    font-family: Yantramanav;
    margin: 6px 0;
  }
}

.commentBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonsContainer {
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
}

.deleteButton, .editButton {
  display: none;
  cursor: pointer;
  height: 21px;
  width: 66px;
  border-radius: 25px;
  background-color: #00C1F3;
  color: #FFFFFF;
  font-family: Yantramanav;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  border: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.comment:hover .deleteButton,
.comment:hover .editButton {
    opacity: 0.85;
    display: flex;
    align-self: center;
}

.editButton {
  margin-right: 10px;
}

.hide {
  display: none;
}

.btnGroup {
  text-align: center;
}

.commentEditContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editCommentTextarea {
  resize: none;
  display: block;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .08);
  padding: 12px 15px 10px;
  height: 45px;
  width: 95%;
  margin: 20px auto 0;
}

.commentEditButton {
  padding: 7px 37px;
  cursor: pointer;
  font: 600 16px 'Yantramanav', sans-serif;
  color: #002630;
  border-radius: 25px;
  background-color: #FFD901;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.04);
  border: none;
  transition: all .3s;
  margin: 1rem 10px 0 0;

  &:hover { opacity: .8 }
}

.commentsContainer { margin-bottom: 1rem }

@media all and (max-width: $mq-tablet) {
  .replyComment { padding-left: 35px !important; }
  .definitelySharingT {
    padding-right: 2.2rem;
    line-height: 19px;
  }
}
