@import "../../variables";

$tabs-colors: (
        green: #35C14C,
        pink: #B652CE,
        orange: #FFBF00
);

.container {
  display: flex;
  max-width: 480px;
}

.tab {
  color: #8A9699;
  font: 600 14px 'Yantramanav', sans-serif;
  padding: 17px 22px;
  cursor: pointer;
  position: relative;
}

.activeTabBefore {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.tab.active {

}

@each $name, $color in $tabs-colors {
  $i: index(($tabs-colors), ($name $color));
  .tab:nth-child(#{$i}).active {
    color: $color;
    &:before {
      @extend .activeTabBefore;
      background: $color;
    }
  }
}

@media (max-width: $mq-tablet) {
  .tab {
    padding: 15px 12px;
    width: calc(100vw / 3);
    text-align: center;
  }
}
