.checkboxContainer {
  display: flex;
  align-items: flex-start;
  margin: 10px 0 29px 0;
  text-align: left;
}

.container {
  text-align: center;
  margin-bottom: 20px;
}

.checkboxText {
  color: #8A9699;
  font-size: 12px;
  cursor: pointer;

  & > a {
    text-decoration: underline;
    color: #00BFF1;
    font-weight: bold;
  }
}

.checkbox {
  width: 32px !important;
  height: 32px !important;

  & > span > svg {
    width: 22px !important;
    height: 22px !important;
    color: #00BFF1 !important;
  }
}

.description {
  color: #475F66;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;

  & > a {
    color: #00BFF1;
  }
}

.importantNote {
  font-weight: bold;
  color: #475F66;
  font-size: 13px;
}

.ageRestriction { font-weight: bold }

.promoCodeInput {
  text-align: center;
}
.promoCodeInput.valid {
  label {
    color: green;
  }

  div:after {
    border-bottom-color: green;
  }
}
