@import "../../../../variables";

.container {
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #FFFFFF;
  box-shadow: 0 10px 14px 2px rgba(0, 0, 0, 0.03);
  width: 530px;
  padding: 20px;
}

.innerContainer {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 14px 2px rgba(0, 0, 0, 0.03);
}

.item {
  padding: 22px 23px;
  display: flex;
  align-items: center;
  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0, 0.08);
  }
}

.item.first, .item.second, .item.third {
  padding: 9px 23px;
  background-color: #F7F9FA;
}

.item.first .name,
.item.second .name,
.item.third .name {
  font-weight: 600;
}

.numberContainer {
  flex: 0 0 auto;
  width: 50px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  color: #475F66;
  font: 18px 'Yantramanav', sans-serif;
}

.cupImage {
  height: 50px;
  width: 50px;
}

.avatar {
  display: none;
  margin-right: 10px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  flex: 0 0 auto;
  box-shadow: 0 10px 8px 2px rgba(0, 0, 0, 0.1);
}

.name {
  color: #475F66;
  font: 400 16px 'Yantramanav', sans-serif;
  overflow-wrap: break-word;
  max-width: calc(100vw / 2 - 20px);
}

.starImage {
  width: 20px;
  height: 18px;
  flex: 0 0 auto;
  margin-left: auto;
  margin-right: 10px;
}

.points {
  flex: 0 0 auto;
  color: #475F66;
  font: 600 18px 'Yantramanav', sans-serif;
}

.bottomDescription {
  margin-top: 30px;
  color: #8A9699;
  text-align: center;
  padding: 0 10px;
  font: italic 400 18px 'Cormorant Garamond', sans-serif;
}

@media (max-width: $mq-tablet) {
  .container {
    width: auto;
    max-width: 480px;
  }
}
